body {
  margin: 0;
  margin-left: calc(100vw - 100%);
  padding: 0;
  font-family: sans-serif;
}
/* Has Impact on RoundedCard Items */
@media (max-width: 500px) {
    .PageLayout {
        font-size: 1.2em;
    }
}
