/* .FlexItemRow-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    flex-wrap: wrap;
    justify-items: start;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10px;
    overflow: hidden;
}

@media (max-width: 660px) {
    .FlexItemRow-container {
        height: auto;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
} */

.FlexItemRow-container {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    --padding: 20px;
    --row-height: 350px;
    height: calc(var(--row-height) + calc(var(--padding) * 2));
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill,  minmax(250px, 1fr));
    /* grid-template-rows: auto; */
    grid-gap: 30px 20px;
    justify-items: center;
    padding: var(--padding) 0;
}

@media (max-width: 850px) {
    .FlexItemRow-container {
        height: auto;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        justify-items: center;
    }
}